.card-title{
    color: $greenTheme;
    font-weight: bold;
}
.middle-card{
    background-color: #0E0E0E;
}
.middle-card-text p{
    color: $greenTheme;
    font-weight: bold;
}
.middle-card-text p:last-child{
    color:white;
}
.bottom-card{
    background-color:white;
}
.bottom-card-text p{
    color: $greenTheme;
    font-weight: bold;
}
.bottom-card-text p:last-child{
    color:black;
}
